body{
    background:#ececec;
    font-family:Arial, sans-serif;
}

.marksheet{
    width:1200px;
    margin:auto;
    background:white;
    padding:15px;
}

.header{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
}

.logo{
    width:70px;
}

.header h1{
    margin:0;
    font-size:36px;
    font-family:"Old English Text MT", serif;
}

.header h2{
    text-align:center;
    font-weight:normal;
}

table{
    width:100%;
    border-collapse:collapse;
}

td,th{
    border:1px solid #000;
    padding:6px;
    font-size:12px;
}

.studentInfo{
    margin-top:15px;
}

.resultTable{
    margin-top:15px;
}

.resultTable th{
    background:#f5f5f5;
}

.summary{
    margin-top:15px;
}

.summary td{
    text-align:center;
    font-weight:bold;
}

.subject-name{
    text-align:left;
    padding-left:10px;
}